body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.knob-container {
    width: 80px;
    height: 40px;
    background: black;
    border-radius: 40px;
}

.switched-on {
    text-align: -webkit-right;
}

.circle {
    background-color: #4facfe;
    width: 40px;
    height: 40px;
    border-radius: 48%;
    cursor: pointer;
}