:root {
    --bs-primary-rgb: 116, 58, 213 !important;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Colors */
.text-primary, .hover\:text-primary:hover {
    color: #743ad5 !important;
}

.bg-primary, .hover\:bg-primary:hover {
    background: #743ad5 !important;
}

.bg-white, .hover\:bg-white:hover {
    background: white !important;
}

.bg-black, .hover\:bg-black:hover {
    background: black !important;
}

/* Borders */
.border-round {
    border-radius: 40px !important;
}

/* Intro Header */
.intro-header {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.4)), url(./assets/images/hero.jpg);
    background-size: cover;
    height: 100vh;
}

.nav-link {
    font-size: .9em !important;
    margin-right: 1rem;
    color: white !important;
    font-family: "Montserrat", sans-serif;
}

.intro-header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1rem;
}

.intro-header-body h1 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.intro-header-body p {
    font-weight: 400;
    font-size: 1em;
    max-width: 700px;
    font-family: "Montserrat", sans-serif;
}

.intro-header-body div button {
    background: rgba(0,0,0,.5);
    border: 2px solid #743ad5;
    color: white;
    border-radius: 40px;
    padding: 1rem 1.8rem;
    transition: .4s;
    min-width: 146px;
}

/* .intro-header-body div button:hover {
    background: #743ad5;
} */

/* Event Countdown */
.event-countdown-wrapper {
    min-height: 40vh;
    text-align: center;
}

.event-countdown-wrapper h1 {
    font-weight: bold;
}

.event-countdown {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.event-countdown div {
    display: flex;
    align-items: center;
}

.count {
    font-size: 2em;
    border: 2px solid #743ad5;
    margin-right: 5px;
    padding: .2rem .9rem;
    border-radius: 20px;
    min-width: 60px;
}

.border-none {
    border: none !important;
}

.count-separator {
    font-size: 2em;
    margin-right: 5px;
}
